<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || 'PowerFit' %></title>
  
  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="min-h-screen flex flex-col bg-background text-foreground">
  <main class="flex-1">
    <%- body %>
  </main>
</body>
</html>
